
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  }

  @media only screen and (max-width: 1024px) {
    * {
        font-size: 95%;
    }
}
@media only screen and (max-width: 768px) {
    * {
        font-size: 75%;
    }
}
footer {
    background-color: #ff5757;
}
footer img {
    margin-bottom: 1rem;
}
.footerContent h4{
    margin-bottom: 1.5rem;
}
.footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 85%;
    text-align: left;
}

.footerContent > div {
    color: #eee;
    margin: 2rem 1rem;
    width: 20%;
}
.footerContent a {
    text-decoration: none;
    color: #ffecec;
}

.quickLinks {
height: 20vh;
margin-left: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: left;
}
.footerContent p {
    font-size: 1rem;
    color: #ffecec;

}

footer hr{
     border: none;
     height: .3px;
    margin: 0 2rem;
    background-color: #ffecec;
}

.copyRight {
    text-align: center;
    color: #ffecec;
    font-size: 0.9rem;
    padding: 0.8rem;
}

i{
    font-size: 2rem;
}

@media only screen and (max-width: 786px) {
  main .content {
      margin:2rem;
  }
   p {
       font-size: 1.3rem;
   }
   main table {
     margin: 2rem ;
      font-size: 1.5rem;
  }
  main th, main td {
      padding: 1rem 0.5rem;
  }
  h4{
    font-size:1rem;
  }
  .footerContent > div {
    width:30%;
  }
  .footerContent > div:first-of-type {
    width: 90%;
}
.footerContent > div:last-of-type {
  width: 90%;
}
.content2 > div {
  margin: 2rem 0 ;
  font-size: 1.3rem;
}
main table {
 margin: 2rem 0;

}
  }