@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 0;
  padding: 0 10%;
}

.hero__text h2 {
  width: 100%;
  color: #ff5757;
  font-size: 1.8rem;
  padding: 1rem 0;
}

.hero__text h1 {
  width: 90%;
  font-family: "Lato", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 1rem 0;
}

.hero__text h1 span {
  color: #ff5757;
}

.hero__text p {
  font-family: "Roboto", sans-serif;
}

.cardContainer {
  margin: 4rem auto;
  width: 70vw;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "card1 card2 card3 "
    "card1 card4 card3";
}

#card1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card1;
}

#card2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card2;
}

#card3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: card3;
}

#card4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card4;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  border: 1px solid #8c86865a;
  -webkit-box-shadow: 5px 5px 10px #8c8686;
  box-shadow: 5px 5px 10px #8c8686;
  border-radius: 25px;
  width: 300px;
  height: 400px;
  margin: 1%;
}

.card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  width: 250px;
  height: 180px;
  border-radius: 12px;
}

.card__title {
  font-family: "Lato", sans-serif;
}

.card__text {
  font-family: "Roboto", sans-serif;
}

.card__title,
.card__text {
  padding: 1% 5%;
}

.card .btn-join {
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  height: 2.3rem;
  width: 8rem;
  border: none;
  color: white;
  background-color: #ff5757;
  border-radius: 15px;
  position: absolute;
  top: 87%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
}

.card .btn-join[id="btn-!active"] {
  background-color: gray;
  cursor: auto;
}

/* Modal Classes */

.modal {
  display: none;
}

.modal-active {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-self: center;

  align-items: center;
  width: 100%;
  top: 0;

  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.281);
}

.modal-content {
  position: absolute;
  padding: 2%;
  border-radius: 4px;
  width: 50%;
  background-color: white;
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation-name: showingUp;
  animation-duration: 0.8s;
  top: 30%;
}

.modal-content > h3 {
}
.modal-content > button {
  cursor: pointer;
  position: absolute;
  font-size: 1.1rem;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
}
.modal-content > a {
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  background-color: #ff5757;
}
.modal-content a:link,
.modal-content a:visited {
  text-decoration: none;
}

@keyframes showingUp {
  0% {
    transform: translateY(100%);
  }
  65% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(none);
  }
}
